.maincontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.takeNote{
    display: flex;
    margin-top: 2em;
    align-self: center;
    /* background-color: rebeccapurple; */
} 
.main{
    display: flex;
    flex-direction: column;
    float: left;
    justify-content: center;
}
.noteContainer{
    margin-top: 2em;
    width: 64%;
    margin-left: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    /* background-color:lime; */
}
