.MainContainer {
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
    width: 25%;
    padding: 5%;
    height: auto;
}
.RowContainer{
    display: flex;
    flex-direction: row;
    justify-content:space-between;

    margin-top : 7%;
    height: 40px;
}
@media (max-width: 500px) {
    .MainContainer{
        height: 300px;
        min-width: 200px;
    }
  .RowContainer
  {
    display: flex;
    flex-direction: column;
     flex-flow: column;
  }
   
  }
