.MainContainer {
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    margin: auto;
    width: 30%;
    padding: 50px;
}
.RowContainer{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}